<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main class="dashboard">
            <h1>Welcome to Student Website</h1>
            <img src="https://38.media.tumblr.com/tumblr_me224pGV2G1rrsa2po1_500.gif" alt="Finn and Jake">
        </main>
    </body>
</html>