<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <main>
            <form action="/process_login" method="post">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3701a75b-9748-465e-b71a-4c1371bbb465/d5augsh-4eefb029-bf8c-4396-8841-c8780e8261d3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM3MDFhNzViLTk3NDgtNDY1ZS1iNzFhLTRjMTM3MWJiYjQ2NVwvZDVhdWdzaC00ZWVmYjAyOS1iZjhjLTQzOTYtODg0MS1jODc4MGU4MjYxZDMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.vFp_6L-u0rEowFtHWIjuflGT09_TVsJaV4GNaS5D6zA" alt="computer">
                <h1 class="sign-in">Sign in</h1>
                <ul>
                    <li>
                        <label for="username">Username: </label>
                        <input type="text" id="username" name="username" required>
                    </li>
                    <li>
                        <label for="password">Password: </label>
                        <input type="password" id="password" name="password" required>
                    </li>
                    <li>
                        <button type="submit">Log In</button>
                    </li>
                </ul>
            </form>
        </main>
    </body>
</html>