<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e29da9cd-41f3-4c4a-9dba-96a246ac853c/d5i4foc-c935542e-855c-4b62-8d22-dd9d47cb749e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9lMjlkYTljZC00MWYzLTRjNGEtOWRiYS05NmEyNDZhYzg1M2MvZDVpNGZvYy1jOTM1NTQyZS04NTVjLTRiNjItOGQyMi1kZDlkNDdjYjc0OWUucG5nIn1dXX0.wvBb32KUmZGdxyzk7pjAVXtRQhIMA8Y4hhOxwUXFNjQ" type="image/x-icon">
<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href="style.css">
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<title>School Website</title>