<nav>
    <h1>School Website</h1>

    <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/facility">Facility</a></li>
        <li><a href="/classroom">Classroom</a></li>
        <li><a href="/teacher">Teacher</a></li>
        <li><a href="/child">Child</a></li>
    </ul>
</nav>